/* poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* common styles */

* {
  margin: 0;
  padding: 0;
}
.u-line {
  width: 100px;
  height: 7px;
  background-color: rgb(53, 199, 53);
  margin: 40px auto;
  position: relative;
  top: -35px;
}
.title {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}
.btn-container {
  text-align: center;
  margin-top: 50px;
}
.btn {
  background-color: black;
  color: white;
  padding: 16px 40px;
  border-radius: 10px;
  margin: 25px auto;
  font-size: 20px;
}
/* navigation styles  */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343131;
  color: #ffffff;
  padding: 20px;
}
.logo {
  font-size: 30px;
  position: relative;
  z-index: 1;
}
.logo-block {
  width: 70px;
  height: 65px;
  background-color: green;
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: -1;
  border-radius: 5px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin: 5px 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}
nav ul li a:hover {
  text-decoration: underline;
}
.search-icon {
  margin-top: 10px;
}
/* banner styles */
#banner {
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  color: white;
}
#banner h1 {
  font-size: 70px;
  text-align: center;
}
#banner .banner-img {
  margin-left: 200px;
}
/* how it works styles */
#how-works {
  width: 1200px;
  margin: 0 auto;
}
.works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.card {
  text-align: center;
}
#card-4 {
  margin: 50px auto;
  width: 380px;
}
.card-img {
  background-color: #f5f7f8;
  height: 260px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.f-icon {
  font-size: 80px;
}
.card-title {
  font-size: 28px;
  font-weight: 600;
  margin: 1rem 0;
}
.card-u-line {
  width: 100px;
  height: 3px;
  background-color: rgb(53, 199, 53);
  margin: 0 auto;
  position: relative;
  top: -15px;
  display: none;
}
.card-description {
  font-weight: 200;
  font-size: medium;
}
.card:hover {
  .card-img {
    background-color: rgb(46, 154, 46);
    transition: 0.9s;
  }
  .card-description {
    font-weight: 400;
    transition: 0.2s;
  }
  .card-u-line {
    display: block;
  }
}
/* about cryptop styles */
#about-cryptop {
  width: 1200px;
  margin: 0 auto;
}
.about-img {
  text-align: center;
}
.about-description,
.aumatice-description {
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
/* download styles */
#download {
  background-color: #0d7c66;
  padding: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  position: relative;
  margin-top: 70px;
}
.download-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px 0;
}
.download-img {
  position: absolute;
  right: 30px;
  top: -50px;
}
/* automatic-section styles */
#automatic-section {
  margin-top: 70px;
  width: 1200px;
  margin: 0 auto;
}
.auto-img {
  text-align: center;
}
/* responsiveness */
@media screen and (max-width: 576px) {
  .works-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .works-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
